<!DOCTYPE html>
<html lang="en">
<head>
  <!-- mpd2html 0.2, 8 Sep 2019 -->
  <meta charset="UTF-8">
  <title>Johnson Sheet Music Collection</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel|Source+Code+Pro&display=swap">
  <style>
    body {
      background-color: black;
      color: white;
      font-family: "Source Code Pro", monospace;
      font-size: 14px;
      font-style: normal;
    }

    img {
      display: block;
      margin: 38px auto 0 auto;
      width: 300px;
      max-width: 300px;
    }

    nav {
      text-align: center;
    }

    .top {
      margin-top: 10px;
      margin-bottom: 118px;
    }

    .bottom {
      margin-top: 68px;
      margin-bottom: 18px;
    }

    nav div {
      display: inline-block;;
    }

    nav a {
      display: block;
      padding: 0.75em 1em;
      font-size: 12px;
      letter-spacing: 3.62px;
      line-height: 1em;
      text-decoration: none;
      color: rgba(255,255,255,.6);
      transition-delay: 0s;
      transition-duration: 0.1s;
      transition-property: color;
      transition-timing-function: ease-in-out;
    }

    nav a:hover {
      color: rgba(255,255,255,1);
    }

    body, h1, th {
      font-weight: 400;
    }

    .heading {
      text-align: center;
      margin-top: 36px;
      margin-bottom: 24px;
    }

    h1 {
      font-family: Abel, sans-serif;
      font-size: 54px;
      line-height: 1.1em;
      letter-spacing: 4px;
    }

    p {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 36px;
    }

    p a, #siteInfo a {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
    }

    table {
      table-layout: fixed;
    }

    th, td {
      padding-right: 20px;
    }

    th {
      text-align: left;
    }

    td {
      vertical-align: top;
    }

    .row-title {
      width: 25%;
    }

    .row-name {
      width: 15%;
    }

    #siteInfo {
      text-align: center;
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 1.75em;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 1.5em;
    }

    #siteInfo :not(:first-child) {
      margin-left: 12px;
    }

    #rights {
      text-align: center;
      font-size: 90%;
      letter-spacing: 0.4px;
      line-height: 1.75em;
      color: rgba(255, 255, 255, 0.8);
      margin-top: 34px;
      margin-bottom: 68px;
    }
  </style>
</head>
<body>
<a href="https://www.mpdsf.org/"><img src="https://images.squarespace-cdn.com/content/589d25e76a4963b41d639306/1490229215091-SL0G88SDYGXDJXJN95XJ/LOGO2017+Greys+light+%281%29.png?format=1500w&content-type=image%2Fpng" alt="MP+D"/></a>
<nav class="top">
  <div><a href="https://www.mpdsf.org/#news-section">NEWS</a></div>
  <div><a href="https://www.mpdsf.org/#support-mpd-section">SUPPORT MP+D</a></div>
  <div><a href="https://www.mpdsf.org/#about0-section">ABOUT</a></div>
  <div><a href="https://www.mpdsf.org/#exhibition-tours-section">EXHIBITIONS & TOURS</a></div>
  <div><a href="https://www.mpdsf.org/visit">VISIT</a></div>
  <div><a href="https://www.mpdsf.org/research">RESEARCH</a></div>
  <div><a href="https://www.mpdsf.org/events">EVENTS</a></div>
  <div><a href="https://www.mpdsf.org/store">STORE</a></div>
</nav>
<div class="heading"><h1>JOHNSON SHEET MUSIC COLLECTION</h1></div>

<p>
  Museum holdings may be used <a href="https://www.mpdsf.org/research">on site</a>, but may not be withdrawn.
  To request access to an item, please call 415-741-3531 or email <a href="mailto:info@mpdsf.org">info@mpdsf.org</a>.
</p>

<table>
  <tr>
    <th>Accession #</th>
    <th class="row-title">Title</th>
    <th class="row-name">Composer(s)</th>
    <th class="row-name">Lyricist(s)</th>
    <th>Source type</th>
    <th class="row-title">Source</th>
    <th>Date</th>
    <th>Location</th>
  </tr>
  <% items.each do |item| %>
    <tr>
      <td><%= item.accession_number %></td>
      <td><%= item.title %></td>
      <td><% item.composers.each_with_index do |composer, i| %><%= composer %><% if i < item.composers.length %><br/><% end %><% end %></td>
      <td><% item.lyricists.each_with_index do |lyricist, i| %><%= lyricist %><% if i < item.lyricists.length %><br/><% end %><% end %></td>
      <td><% item.source_types.each_with_index do |source_type, i| %><%= source_type %><% if i < item.source_types.length %><br/><% end %><% end %></td>
      <td><% item.source_names.each_with_index do |source_names, i| %><%= source_names %><% if i < item.source_names.length %><br/><% end %><% end %></td>
      <td><% item.dates.each_with_index do |date, i| %><%= date %><% if i < item.dates.length %><br/><% end %><% end %></td>
      <td><%= item.location %></td>
    </tr>
  <% end %>
</table>
<nav class="bottom">
  <div><a href="https://www.mpdsf.org/who-we-are">WHO WE ARE</a></div>
  <div><a href="https://www.mpdsf.org/opportunities">OPPORTUNTIES</a></div>
  <div><a href="https://www.mpdsf.org/contact">CONTACT</a></div>
</nav>
<div id="siteInfo">
  <span>MUSEUM OF PERFORMANCE + DESIGN, 2200 JERROLD AVENUE, STE T, SAN FRANCISCO, CA, 94124, UNITED STATES</span><span rel="tel">415-741-3531</span><a href="mailto:info@mpdsf.org">INFO@MPDSF.ORG</a>
</div>
<div id="rights"><p>All rights reserved Museum of Performance + Design&copy;</p></div>
</body>
</html>
