<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODO</title>
</head>
<body>
<h1>TODO</h1>
<table>
  <% items.each do |item| %>
    <tr>
      <td><%= item.accession_number %></td>
      <td><%= item.title %></td>
      <td><%= item.composer %></td>
      <td><%= item.lyricist %></td>
      <td><%= item.source %></td>
      <td><%= item.location %></td>
    </tr>
  <% end %>
</table>
</body>
</html>
